// Pre-Game
html {
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

div {
    &.back {
        background-image: url('../images/background/title_screen.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
    }
}

header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba($color: #2A2B2A, $alpha: 0.7);

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        border-radius: .5rem;
        padding: 2rem;
        background-color: #E6E6E9;

        &.after {
            text-align: center;
            display: none;
            justify-content: center;
            align-items: center;

        h2 {
            color: #2A2B2A;
            line-height: 1.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            }
        }

        &.before {
            text-align: center;
            h2 {
                color: #2A2B2A;
                line-height: 1.4rem;
                font-size: 1.2rem;
                font-weight: 400;
            }
            a {
                text-decoration: none;
                margin-top: .5rem;
                padding: 1rem;
                border-radius: .2rem;
                background: #2A2B2A;
                color: #E6E6E9;
                width: 60%;
                font-weight: 400;
                transition-duration: 0.4s;
                
                &:hover {
                    background: #ff8c61;
                }
            }
        }
    }
}

// Queries

@media only screen and (max-width: 1220px) {
    header {
        div {
            &.before {
                display: none;
            }

            &.after {
                display: flex;
            }
        }
    }
}