html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #E6E6E9;
}

div#back {
  background: #2A2B2A;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

div#back div {
  font-family: 'Roboto', sans-serif;
}

div#back div#dialog-1 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 20%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#dialog-1 div#text-b-1 {
  margin: 0;
}

div#back div#dialog-1 div#text-b-1 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#dialog-2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 20%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#dialog-2 div#text-b-2 {
  margin: 0;
}

div#back div#dialog-2 div#text-b-2 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#dialog-3 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 20%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#dialog-3 div#text-b-3 {
  margin: 0;
}

div#back div#dialog-3 div#text-b-3 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#dialog-4 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 20%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#dialog-4 div#text-b-4 {
  margin: 0;
}

div#back div#dialog-4 div#text-b-4 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#dialog-5 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 20%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#dialog-5 div#text-b-5 {
  margin: 0;
}

div#back div#dialog-5 div#text-b-5 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#dialog-6 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 20%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#dialog-6 div#text-b-6 {
  margin: 0;
}

div#back div#dialog-6 div#text-b-6 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#dialog-7 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 20%;
  height: 0%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#dialog-7 div#text-b-7 {
  margin: 0;
}

div#back div#dialog-7 div#text-b-7 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#question-1 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 10%;
  width: 20%;
  height: 0%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#question-1 div#options-1 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

div#back div#question-1 div#options-1 a {
  color: #2A2B2A;
  border: 0.1rem solid #2A2B2A;
  text-decoration: none;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#question-1 div#options-1 a:hover {
  background: #2A2B2A;
  color: #E6E6E9;
  border-color: #E6E6E9;
}

div#back div#question-2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 15%;
  left: 10%;
  width: 20%;
  height: 0%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#question-2 div#options-2 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

div#back div#question-2 div#options-2 a {
  color: #2A2B2A;
  border: 0.1rem solid #2A2B2A;
  text-decoration: none;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#question-2 div#options-2 a:hover {
  background: #2A2B2A;
  color: #E6E6E9;
  border-color: #E6E6E9;
}

div#back div#ready-box {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 10%;
  width: 10%;
  height: 0%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#ready-box div#options-3 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

div#back div#ready-box div#options-3 a {
  color: #2A2B2A;
  border: 0.1rem solid #2A2B2A;
  text-decoration: none;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#ready-box div#options-3 a:hover {
  background: #2A2B2A;
  color: #E6E6E9;
  border-color: #E6E6E9;
}

div#back div#yes-diag-1 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 20%;
  height: 0%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#yes-diag-1 div#text-b-8 {
  margin: 0;
}

div#back div#yes-diag-1 div#text-b-8 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#yes-diag-2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 20%;
  height: 0%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#yes-diag-2 div#text-b-8 {
  margin: 0;
}

div#back div#yes-diag-2 div#text-b-8 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#adventure-diag-1 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 10%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#adventure-diag-1 div#text-b-8 {
  margin: 0;
}

div#back div#adventure-diag-1 div#text-b-8 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#adventure-diag-2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 10%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#adventure-diag-2 div#text-b-8 {
  margin: 0;
}

div#back div#adventure-diag-2 div#text-b-8 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#adventure-diag-3 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 10%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#adventure-diag-3 div#text-b-8 {
  margin: 0;
}

div#back div#adventure-diag-3 div#text-b-8 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#adventure-diag-4 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 10%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#adventure-diag-4 div#text-b-8 {
  margin: 0;
}

div#back div#adventure-diag-4 div#text-b-8 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#adventure-diag-5 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 10%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#adventure-diag-5 div#text-b-8 {
  margin: 0;
}

div#back div#adventure-diag-5 div#text-b-8 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#adventure-diag-6 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 10%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#adventure-diag-6 div#text-b-8 {
  margin: 0;
}

div#back div#adventure-diag-6 div#text-b-8 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#no-diag-1 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 20%;
  height: 0%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#no-diag-1 div#text-b-9 {
  margin: 0;
}

div#back div#no-diag-1 div#text-b-9 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

div#back div#game-over-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 10%;
  width: 30%;
  height: 20%;
  background: #E6E6E9;
  border-radius: 0.2rem;
  padding: 4rem;
  display: flex;
  align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div#back div#game-over-1 div#text-end {
  text-align: center;
  margin: 0;
}

div#back div#game-over-1 div#text-end h2 {
  color: #2A2B2A;
  font-size: 1.6rem;
  font-weight: 400;
}

div#back div#game-over-1 div#text-end p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0.8rem 0rem;
}

header {
  z-index: 10;
  background-color: rgba(42, 43, 42, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
}

header div {
  width: 50%;
}

header div#title {
  color: #E6E6E9;
}

header div#title h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 300;
}

header div#title h2 {
  font-size: 1.3rem;
  font-weight: 200;
}

header div#title span {
  -webkit-animation-name: light;
          animation-name: light;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  padding: 0rem 0rem 0rem 0.2rem;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background: #E6E6E9;
}

@-webkit-keyframes light {
  0% {
    color: #2A2B2A;
  }
  50% {
    color: #E6E6E9;
    background: #2A2B2A;
  }
  100% {
    color: #2A2B2A;
  }
}

@keyframes light {
  0% {
    color: #2A2B2A;
  }
  50% {
    color: #E6E6E9;
    background: #2A2B2A;
  }
  100% {
    color: #2A2B2A;
  }
}

header a {
  text-decoration: none;
  padding: 1rem;
  background: #E6E6E9;
  color: #2A2B2A;
  border-radius: 5px;
  border: .1rem solid #E6E6E9;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

header a:hover {
  background: #2A2B2A;
  color: #E6E6E9;
  border: .1rem solid #E6E6E9;
  border-radius: 5px;
}

.animation-tran {
  background: #2A2B2A;
  -webkit-animation-name: tran;
          animation-name: tran;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

@-webkit-keyframes tran {
  0% {
    background: #2A2B2A;
  }
  50% {
    background: #E6E6E9;
  }
  100% {
    background: #2A2B2A;
  }
}

@keyframes tran {
  0% {
    background: #2A2B2A;
  }
  50% {
    background: #E6E6E9;
  }
  100% {
    background: #2A2B2A;
  }
}

#energy-pointer {
  background: rgba(230, 230, 233, 0);
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  visibility: visible;
  position: absolute;
  opacity: 100;
  -webkit-animation-name: energy-charge;
          animation-name: energy-charge;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes energy-charge {
  0% {
    background: rgba(230, 230, 233, 0);
  }
  50% {
    background: #e6e6e9;
  }
  100% {
    background: rgba(230, 230, 233, 0);
  }
}

@keyframes energy-charge {
  0% {
    background: rgba(230, 230, 233, 0);
  }
  50% {
    background: #e6e6e9;
  }
  100% {
    background: rgba(230, 230, 233, 0);
  }
}

#energy-box {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

#energy-box p {
  color: #E6E6E9;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

#energy-box p span {
  font-weight: 200;
}

#score-box {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 10%;
  right: 10%;
}

#score-box p {
  color: #E6E6E9;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

#score-box p span {
  font-weight: 200;
}

#instruction-1 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 10%;
}

#instruction-1 p {
  color: #E6E6E9;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#instruction-2 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 10%;
}

#instruction-2 p {
  color: #E6E6E9;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#instruction-3 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 10%;
}

#instruction-3 p {
  color: #E6E6E9;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#instruction-4 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 10%;
}

#instruction-4 p {
  color: #E6E6E9;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#instruction-5 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
}

#instruction-5 p {
  color: #E6E6E9;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#instruction-rep {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 10%;
  line-height: 1.5rem;
}

#instruction-rep p {
  color: #E6E6E9;
  font-size: 1.4rem;
  font-weight: 200;
}

#ready-text {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 10%;
}

#ready-text p {
  color: #E6E6E9;
  font-size: 1.4rem;
  font-weight: 200;
}

#start-count-1 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 40%;
  left: 10%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#start-count-1 p {
  color: #E6E6E9;
  font-size: 1.8rem;
  font-weight: 300;
}

#start-count-2 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 40%;
  left: 10%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#start-count-2 p {
  color: #E6E6E9;
  font-size: 1.8rem;
  font-weight: 200;
}

#start-count-3 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 40%;
  left: 10%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#start-count-3 p {
  color: #E6E6E9;
  font-size: 1.8rem;
  font-weight: 200;
}

#start-count-4 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 40%;
  left: 10%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#start-count-4 p {
  color: #E6E6E9;
  font-size: 1.8rem;
  font-weight: 200;
}

#ending-1 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 10%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#ending-1 p {
  color: #E6E6E9;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ending-2 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 10%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#ending-2 p {
  color: #2A2B2A;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ending-3 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 10%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#ending-3 p {
  color: #2A2B2A;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ending-4 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 10%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#ending-4 p {
  color: #2A2B2A;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ending-diag-1 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 10%;
  background: #E6E6E9;
  border: 0.1rem solid #2A2B2A;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#ending-diag-1 div#text-b-8 {
  margin: 0;
}

#ending-diag-1 div#text-b-8 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

#ending-diag-2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 10%;
  background: #E6E6E9;
  border: 0.1rem solid #2A2B2A;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#ending-diag-2 div#text-b-8 {
  margin: 0;
}

#ending-diag-2 div#text-b-8 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

#ending-diag-3 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  height: 10%;
  background: #E6E6E9;
  border: 0.1rem solid #2A2B2A;
  border-radius: 0.2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#ending-diag-3 div#text-b-8 {
  margin: 0;
}

#ending-diag-3 div#text-b-8 p {
  color: #2A2B2A;
  font-size: 1.2rem;
  font-weight: 300;
}

#namebox {
  position: absolute;
  left: 10%;
  width: 40%;
  height: 10%;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  bottom: 6%;
}

#namebox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#namebox div button {
  border: .1rem solid #2A2B2A;
  border-radius: 100%;
  padding: .8rem;
  font-weight: 700;
  background: none;
  margin: 0;
  color: #2A2B2A;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

#namebox div button:hover {
  background: white;
  color: #E6E6E9;
  border: #2A2B2A;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#namebox div input {
  border: .1rem solid #2A2B2A;
  border-radius: 100px;
  color: #2A2B2A;
  height: 100%;
  padding: 0.7rem;
  width: 70%;
  margin-right: 0.4rem;
}

#namebox div input:hover {
  border-color: #7284A8;
}

#namebox div input:active {
  border-color: #4CB5AE;
}

#soul {
  background: rgba(230, 230, 233, 0);
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-animation-name: soul-charges;
          animation-name: soul-charges;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes soul-charge {
  0% {
    background: rgba(230, 230, 233, 0);
    width: 2rem;
    height: 2rem;
  }
  15% {
    background: #e6e6e9;
    width: 5rem;
    height: 5rem;
  }
  30% {
    background: rgba(230, 230, 233, 0);
    width: 2rem;
    height: 2rem;
  }
  45% {
    background: #e6e6e9;
    width: 8rem;
    height: 8rem;
  }
  60% {
    background: rgba(230, 230, 233, 0);
    width: 2rem;
    height: 2rem;
  }
  100% {
    background: #e6e6e9;
    width: 100%;
    border-radius: 0;
    height: 100%;
  }
}

@keyframes soul-charge {
  0% {
    background: rgba(230, 230, 233, 0);
    width: 2rem;
    height: 2rem;
  }
  15% {
    background: #e6e6e9;
    width: 5rem;
    height: 5rem;
  }
  30% {
    background: rgba(230, 230, 233, 0);
    width: 2rem;
    height: 2rem;
  }
  45% {
    background: #e6e6e9;
    width: 8rem;
    height: 8rem;
  }
  60% {
    background: rgba(230, 230, 233, 0);
    width: 2rem;
    height: 2rem;
  }
  100% {
    background: #e6e6e9;
    width: 100%;
    border-radius: 0;
    height: 100%;
  }
}

#soul-after {
  background: #e6e6e9;
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

#hiddenwords {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 80%;
  top: 20%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E6E6E9;
}

#hiddenwords input {
  border-radius: 100px;
}

#hiddenwords button {
  border: .1rem solid #E6E6E9;
  border-radius: 100%;
  padding: .8rem;
  font-weight: 700;
  background: none;
  margin: 0;
  color: #E6E6E9;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

#hiddenwords button:active {
  background: white;
  color: #E6E6E9;
  border: #2A2B2A;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#hiddenwords p {
  margin: 0;
  -webkit-transition-duration: 20s;
          transition-duration: 20s;
}

#hiddenwords div {
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#hiddenwords div:hover {
  opacity: 100;
}

#hiddenwords div#hidden-word-1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#hiddenwords div#hidden-word-2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#hiddenwords div#hidden-word-3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#hiddenwords div#hidden-word-4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#hiddenwords div#hidden-word-5 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#hiddenwords div#hidden-word-6 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#hiddenwords div#hidden-word-7 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#hiddenwords div#hidden-word-8 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: none;
}

#hiddenwords div#hidden-word-9 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
}

#hiddenwords div#hidden-word-10 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: none;
}

#hiddenwords div#hidden-word-11 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: none;
}

#hiddenwords div#hidden-word-12 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
}

.on-dialog {
  visibility: visible !important;
  opacity: 100 !important;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

#mouse-ic {
  width: 4rem;
  height: 4rem;
}

div#box-test {
  background: none;
  border: 0.2rem solid #E6E6E9;
  position: absolute;
  top: 70%;
  right: 10%;
  width: 5rem;
  height: 5rem;
  opacity: 0;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  visibility: hidden;
}

#box-test:hover {
  opacity: 100;
}

.on-box {
  visibility: visible !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.on {
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.finished {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.clicked-correct {
  background: #4CB5AE !important;
  color: #E6E6E9;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.clicked-incorrect {
  background: #D35269;
  color: #E6E6E9;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.blocked-button {
  background: #7284A8 !important;
  color: #E6E6E9 !important;
  border: #E6E6E9 !important;
}

#gameover-1 {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(42, 43, 42, 0.6);
}

#gameover-1 div {
  border-radius: 10px;
  background: #E6E6E9;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  text-align: center;
}

#gameover-1 div button {
  padding: 1rem;
  background: #E6E6E9;
  color: #2A2B2A;
  border: .1rem solid #2A2B2A;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#gameover-1 div button:hover {
  background: #2A2B2A;
  color: #E6E6E9;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#gameover-2 {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(42, 43, 42, 0.6);
}

#gameover-2 div {
  border-radius: 10px;
  background: #E6E6E9;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  text-align: center;
}

#gameover-2 div button {
  padding: 1rem;
  background: #E6E6E9;
  color: #2A2B2A;
  border: .1rem solid #2A2B2A;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#gameover-2 div button:hover {
  background: #2A2B2A;
  color: #E6E6E9;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.on-end {
  opacity: 100 !important;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  visibility: visible !important;
}

.energy0 {
  cursor: default !important;
  width: 0rem !important;
  height: 0rem !important;
  opacity: 0 !important;
}

.energy1 {
  cursor: none !important;
  width: 1rem !important;
  height: 1rem !important;
}

.energy2 {
  width: 2rem !important;
  height: 2rem !important;
}

.energy3 {
  width: 3rem !important;
  height: 3rem !important;
}

.energy3 {
  width: 4rem !important;
  height: 4rem !important;
}

.energy5 {
  width: 5rem !important;
  height: 5rem !important;
}

#score-table {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: none;
}

#score-table div {
  border-radius: 10px;
  background: #E6E6E9;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  text-align: center;
}

#score-table button {
  padding: 1rem;
  background: #E6E6E9;
  color: #2A2B2A;
  border: .1rem solid #2A2B2A;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#score-table button:hover {
  background: #2A2B2A;
  color: #E6E6E9;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#final-box {
  color: #2A2B2A;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: none;
}

#final-box div {
  border-radius: 10px;
  background: #E6E6E9;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */